@charset "utf-8";
/*Reset */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin: 0;padding: 0;
}
ul{
	list-style-type: none;
}
audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
[hidden]{
    display: none;
}

html {
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 1em;
	font-family:"Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB",STHeiti sans,sans-serif;
	color:#444;
}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
.clear {
	zoom:1; /* for IE6 IE7 */
}

/*Typography*/
abbr[title] {
    border-bottom: 1px dotted;
}
b,strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    padding: 0;
}
ins {
    background: #ff9;
    color: #000;
    text-decoration: none;
}
mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: bold;
}
pre,code,kbd,samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: none;
}
q:before,q:after {
    content: "";
    content: none;
}
small {
    font-size: 85%;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
blockquote{
	text-indent:6em;
	border-left:4px solid #ccc;
	line-height:1.2em;
}

a{
	text-decoration:underline;
	color:#219df4;
}
a:hover {
    text-decoration:underline;
    color:#2a6496;
}
img{
	width:100%;
}

/* font from google*/
@font-face {
  font-family: 'Galdeano';
  font-style: normal;
  font-weight: 400;
  src: local('Galdeano Regular'), local('Galdeano-Regular'), url(http://themes.googleusercontent.com/static/fonts/galdeano/v3/XWkZhyfrNgo9X-giTt_ZffesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: local('Electrolize'), local('Electrolize-Regular'), url(http://themes.googleusercontent.com/static/fonts/electrolize/v2/DDy9sgU2U7S4xAwH5thnJ4bN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

/*responsive*/
@media only screen and (max-device-width:1024px) {
	#header,#main,#footer{
		margin:0;
	}
}
@media only screen and (max-device-width:1024px) {
	#header,#main,#footer{
		margin:0;
	}
}

/*layout*/
#header,#main,#footer{
	margin:0 20%;
}
#main{
	width:60%;
	margin-top:1.4em;
}
/*header*/
#header{
	margin-top:2em;
}
#header .titleSite{
	text-decoration:underline;
	font-family: Electrolize;
	font-size:3em;
	font-style: italic;
	line-height:1;
	display:block;
}
#header p{
	text-transform: uppercase;
	font-size: 9px;
	margin: 5px 0;
	letter-spacing: 2px;
	font-family: 'Gill Sans', 'Verdana';
	line-height:1;
}
#header nav{
	padding:1em 0;
	background:url(../images/header_bg.png);
	border-bottom:3px solid #E0D9B8;
}
/*nav both hedaer and footer*/
.navList li{
	float:left;
	padding-right:10px;
	font-family:Galdeano;
	font-size:2em;
	display:inline;
}
/*main*/
#main section{
	margin:1.4em 0 0;
}
#main .catTitle{
	font-size:1.4em;
	padding:0;
}
#main ul{
	margin-left:2em;
}
#main ul li{
	font-size:1em;
	line-height:1.75em;
}
#main p{
	font-size:1.0em;
	line-height:1.9em;
	text-indent: 2em;
}
/*post*/
#main h1,#main h2,#main h3{
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
#main h1{
	font-size:1.8em;
}
#main h2{
	padding:1em 0;
}
#main h3{
	font-size:1.2em;
	padding:1em 0;
}
#main .tagsList li{
	float:left;
	font-family:Galdeano;
	font-size:1em;
	display:inline;
}
#main .post,#main .post ul{
	margin:0;
}
#main .post ul{
	padding:0.5em 0 1em;
}
#main ul,#main ol{
	margin-left:3em;
}
blockquote p{
	font-size:1.1em;
} 
#disqus_thread{
	margin-top:2em;
}
/*footer*/
#footer{
	margin-top:1em;
	margin-bottom:1em;
}
#footer .navList{
	padding:0.5em 0 1.5em;
}
#footer .navList li{
	font-size:1.3em;
}
#footer small{
	display:block;
	color:#666;
	font-size:0.85em;
	line-height:1em;
}
