
@charset "utf-8";
/*responsive*/
@media only screen and (max-device-width:640px) {
	body{
		font-size:41.67%;
	}
	#header,#main,#footer{
	margin:0 0.4em;
	}
}
@media only screen and (min-device-width:641px) and (max-device-width:720px) {
	body{
		font-size:46.875%;
	}
	#header,#main,#footer{
	margin:0 0.6em;
	}
}
@media only screen and (min-device-width:721px)  {
	body{
		font-size:62.5%;
	}
	#header,#main,#footer{
		margin:0 24em;
	}
}

/*layout*/

#main{
	margin-top:2.2em;
}
/*header*/
#header{
	margin-top:3.2em;
}
#header .titleSite{
	text-decoration:underline;
	font:italic 4.2em/1 Electrolize ;
	display:block;
}
#header p{
	text-transform: uppercase;
	font:normal 0.9em/1 'Gill Sans', 'Verdana' ;
	margin: 0.5em 0;
	letter-spacing: 0.2em;
}
#header nav{
	padding:1.6em 0;
	background:url(../images/header_bg.png);
	border-bottom:0.3em solid #E0D9B8;
}
/*nav in hedaer and footer*/
.navList li{
	float:left;
	padding-right:1em;
	font:3.2em Galdeano;
	display:inline;
}
/*main*/
#main section{
	margin:2.2em 0 0;
}
#main .catTitle{
	font-size:2.2em;
	padding:0;
}
#main ul{
	margin-left:3.2em;
}
#main ul li{
	line-height:1.7;
}
#main p{
	font-size:1.6em;
	line-height:1.7;
	text-indent: 2em;
}
/*post*/
#main h1,#main h2,#main h3{
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
}
#main h1{
	font-size:2.9em;
}
#main h2{
	padding:1.6em 0;
}
#main h3{
	font-size:1.9em;
	padding:1.6em 0;
}
#main .tagsList li{
	float:left;
	font-family:Galdeano;
	font-size:1.6em;
	display:inline;
}
#main .post,#main .post ul{
	margin:0;
}
#main .post ul{
	padding:8px 0 1.6em;
}
#main ul,#main ol{
	margin-left:4.8em;
	font-size:1.6em;
	line-height:1.7;
}
blockquote p{
	font-size:1.7em;
} 
#disqus_thread{
	margin-top:3.2em;
}
/*footer*/
#footer{
	margin-top:1.6em;
	margin-bottom:1.6em;
}
#footer .navList{
	padding:.8em 0 2.4em;
}
#footer .navList li{
	font-size:2em;
}
#footer small{
	display:block;
	color:#666;
	font-size:1.3em;
	line-height:1.6em;
}
