---
title: ked's Space
layout: page
---
	<section id="code">
    <h3 class="catTitle">code</h3>
    <ul>
		{% for post in site.categories.code %}
        <li>
            > <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </li>
		{% endfor %}	
    </ul>
    </section>
	
    <section id="life">
    <h3 class="catTitle">life</h3>
    <ul>
    	{% for post in site.categories.life %}
        <li>
            ><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			 </li>
		{% endfor %}	
    </ul>
	</section>
    <section id="about">
    	
    <h3 class="catTitle">about</h3>
    <ul>
    	{% for post in site.categories.about %}
        <li>
            > <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
			</li>
		{% endfor %}	
    </ul>
    </section>