<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.id %}{{ page.title }} | {{ site.name }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="keyword" content="{% if page.id %}{{ page.keyword }} {% else %}{{ site.keyword }}{% endif %}"/>
	<meta name="description" content="{% if page.id %}{{ page.description }} {% else %}{{ site.description }}{% endif %} "/>
	<link rel="shortcut icon" href="{{ site.url }}/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{{ site.url }}/css/style.css" />
     <link rel="stylesheet" href="{{ site.url }}/css/pygments.css" />
  </head>
  <body>
    <header id="header">
        <h2><a href="{{ site.url }}" title="{{ site.name }}" tabindex="1" accesskey="h" >{{ site.name }}</a></h2>
		<p>ligts will guide you home</p>
		<nav>
			<ul class="clear navList">
				<li><a href="{{ site.url }}#about" title="about me" accesskey="a">about</a>/&nbsp;</li>
				<li><a href="{{ site.url }}#code" title="code" accesskey="c">code</a>/&nbsp;</li>
				<li><a href="{{ site.url }}#life" title="life" accesskey="l">life</a>/&nbsp;</li>
				<li><a href="{{ site.url }}/tags" title="tags for myspace" accessskey="t">tags</a>/&nbsp;</li>
			</ul>
		</nav>
    </header>
    
	<article id="main">
		{{ content }}
	
	</article>
	
    <footer id="footer">
    	<nav>
			<ul class="clear navList">
				<li><a href="{{ site.url }}#about" title="about me" accesskey="a">about</a>/&nbsp;</li>
				<li><a href="{{ site.url }}#code" title="code" accesskey="c">code</a>/&nbsp;</li>
				<li><a href="{{ site.url }}#life" title="life" accesskey="l">life</a>/&nbsp;</li>
				<li><a href="{{ site.url }}/tags" title="tags for myspace" accessskey="t">tags</a>/&nbsp;</li>
			</ul>
		</nav>
		<small>&copy; ked</small>
		<small>Never too Late</small>
    </footer>
  </body>
</html>
