<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="author" content="{{ site.author }}" />
    <title></title>
    <meta name="keyword" content=""/>
	<meta name="description" content=""/>
	<link rel="shortcut icon" href="../favicon.ico" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header id="header">
        <h2><a href="" title="">ked's Space</a></h2>
		<p>ligts will guide you home</p>
		<nav>
			<ul class="clear navList">
				<li><a href="#about" title="">about</a>/&nbsp;</li>
				<li><a href="#code" title="">code</a>/&nbsp;</li>
				<li><a href="#life" title="">life</a>/&nbsp;</li>
				<li><a href="tags" title="">tags</a>/&nbsp;</li>
			</ul>
		</nav>
    </header>
    
	<article id="main">
		{{ content }}
	
	</section>
		
	</article>
	
    <footer id="footer">
    	<nav>
			<ul class="clear navList">
				<li><a href="#about" title="">about</a>/&nbsp;</li>
				<li><a href="#code" title="">code</a>/&nbsp;</li>
				<li><a href="#life" title="">life</a>/&nbsp;</li>
				<li><a href="tags" title="">tags</a>/&nbsp;</li>
			</ul>
		</nav>
		<small>&copy; ked</small>
		<small>Never too Late</small>
    </footer>
  </body>
</html>
